<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
	<typeAliases>
		<typeAlias alias="resultMap" type="java.util.HashMap" />
<!-- 		<package name="com.dgq.consumer.model.bean" /> -->
	</typeAliases>
<!--     <mappers> -->
<!--         <mapper resource="mapper/*.xml"/> -->
			<!-- 配置文件里只能读取到java路径下的映射文件，但是读取不到resources路径下的映射文件，读取resources路径下的映射文件需要配置到 application.properties文件中,但是两者只能有其中一个生效-->
<!--         <mapper resource="com/dgq/consumer/mapper/LuckDaoMapper.xml"/> -->
<!--     </mappers> -->
</configuration>
