<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace='com.dgq.consumer.dao.LuckDao'>

	<insert id="insertLuck" parameterType="resultMap">
		insert into luck_data(
			id,
			everynper,
			everyluck,
			red1,
			red2,
			red3,
			red4,
			red5,
			red6,
			blue,
			create_date,
			update_date
		)value(
			id,
			#{everynper},
			#{everyluck},
			SUBSTR( #{everyluck}, 1, 2 ),
			SUBSTR( #{everyluck}, 4, 2 ),
			SUBSTR( #{everyluck}, 7, 2 ),
			SUBSTR( #{everyluck}, 10, 2 ),
			SUBSTR( #{everyluck}, 13, 2 ),
			SUBSTR( #{everyluck}, 16, 2 ),
			SUBSTR( #{everyluck}, 19, 2 ),
			now(),
			now()
		)
	</insert>
	
	<select id="getMaxLuck" resultType="int">
		select 
			max(everynper)
		from 
			luck_data
	</select>
	
	<select id="getNewLuck" resultType="resultMap">
		select 
			everynper,
		    everyluck 
	    from 
	    	luck_data 
    	where everynper = (select 
    							max(everynper)
						   from 
					   			luck_data)
	</select>
	
	<select id="getAllLuck" parameterType="resultMap" resultType="resultMap">
		select everynper,
			   everyluck
		from luck_data 
		<if test="everynper != null and everynper =! ''">
		where everynper > #{everynper}
		</if>
	</select>
</mapper>